@media (min-width: 1200px) and (max-width: 1450px) {
    .banner-heading {
        font-size: 50px;
    }
}

@media screen and (max-width: 1200px) {

    .banner-title {
        font-size: 60px;
        width: 100%;
        margin: auto;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 0;
    }

    .banner-content {
        width: 70%;
        margin: 25px auto 0;
        line-height: 29px;
    }

    .service-card {
        height: auto;
    }

    .service-card h3 {
        font-size: 29px;
    }

    .product-img {
        height: 220px;
    }

    .product-info h5 {
        font-size: 23px;
    }

    .product-info p {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .line-height-36 {
        line-height: 33px;
    }

    .card-treatment {
        height: 210px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-content {
        bottom: -87px;
    }

    .img-radius h2 {
        font-size: 40px;
    }
}



@media screen and (max-width:992px) {

    .header-button {
        position: absolute;
        bottom: 17px;
        background-color: #fff;
        width: auto;
        left: auto;
        padding: 0 0px;
        display: flex;
        align-items: center;
        justify-content: end;
        right: 100px;
    }

    /************mobile-manu***********/

    .navbar-toggler-icon {
        display: block;
        height: 2px;
        background-size: 100%;
        background-color: #fff;
        margin-bottom: 7px;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        top: 82px;
        padding: 12px 0 4px 0;
    }

    .navbar-toggler {
        padding: 0 16px !important;
        border: none !important;
        background-color: #fff !important;
        outline: none !important;
        border-radius: 0 !important;
        margin: 0 !important;
        position: relative;
        height: 40px;
    }

    .navbar-toggler span {
        width: 35px;
        height: 4px;
        margin: 7px 0px;
        display: block;
        background: #A41F34;
        font-size: 18px;
        border-radius: 50px;
        transition: all .5s ease-in-out;
    }

    .navbar-toggler.collapsed span {
        margin: 6px 0px !important;
        transform: rotate(0deg) !important;
    }

    .navbar-toggler.collapsed span.bar1 {
        width: 20px;
        margin-top: 0 !important;
    }

    .navbar-toggler.collapsed span.bar3 {
        width: 20px;
        margin: 0 0 auto auto !important;
        display: block;
    }

    .navbar-toggler span.bar3 {
        display: none;
    }

    .navbar-toggler span.bar2 {
        transform: rotate(-45deg);
        margin-top: -10px;
    }

    .navbar-toggler span.bar1 {
        width: 35px;
        transform: rotate(45deg);
        margin-top: 7px;
    }

    .navbar-collapse {
        background: #fff;
        position: fixed;
        width: 0;
        visibility: hidden;
        opacity: 0;
        height: 100vh;
        left: 0;
        top: 114px;
        padding: 0;
        border-top: 2px solid #bc2024;
        transition: all .1s ease-in-out;
        padding-top: 13px;
    }

    .navbar-collapse.show {
        left: 0;
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #000;
        display: inline-block;
    }

    /************mobile-manu***********/
    .hero-banner .banner-content {
        width: 86%;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .show>.nav-link {
        padding: 11px 0 0 0;
    }

    .banner {
        height: 280px;
    }


    .w-50 {
        width: 100% !important;
    }

    .banner-title {
        font-size: 40px;
        width: 80%;
    }

    h2 {
        font-size: 38px;
    }

    p {
        font-size: 16px;
    }

    .service-card {
        height: 344px;
    }

    .text-slider .owl-nav {
        width: 65%;
    }

    .card-content {
        bottom: -114px;
    }

    .gallery-item {
        height: 220px;
    }

}

@media screen and (max-width: 767px) {

    .header-button {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        right: auto;
        width: 100%;
        padding: 10px 9px;
    }

    .header-button .cstm-btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .navbar-brand img {
        width: 46px;
        margin-right: 0;
    }

    .banner {
        height: auto;
        padding: 29px 0;
    }

    .header-button .cstm-btn:hover {
        box-shadow: none;
    }

    .text-top-cnt p {
        font-size: 10px !important;
    }

    .contact-link {
        display: none;
    }

    .text-slider .owl-nav {
        width: 100%;
    }

    body {
        padding-top: 102px;
        padding-bottom: 50px;
    }

    .banner-title {
        font-size: 36px;
        width: 100%;
    }

    .banner-content {
        width: 100%;
        margin: 16px auto 0;
        line-height: 25px;
        color: #000;
    }

    .about-skin-canberra p {
        line-height: 30px;
    }

    .panel-space {
        padding: 40px 0;
    }

    h2 {
        font-size: 28px;
    }

    .w-75 {
        width: 100% !important;
    }

    .discover-panel img {
        margin-top: 0;
    }

    .discover-panel {
        padding: 40px 0 !important;
    }

    .card-content {
        bottom: 0;
    }

    .card-title {
        margin: 0 0 8px 0;
    }

    .card-treatment:hover .card-title {
        margin: 0 0 8px 0;
    }



    .cart-icon,
    .user-icon {
        position: fixed;
        top: 46px;
        right: 100px;
    }

    .cart-icon img,
    .user-icon img {
        width: 28px;
    }

    .user-icon {
        right: 144px;
    }

    .footer-logo img {
        width: 70px;
    }

    .gallery-item {
        height: 400px;
    }

    .navbar-collapse {
        top: 104px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: inline-block;
        padding: 4px 22px !important;
        font-size: 16px;
    }

    .video-card,
    .text-card {
        width: 300px;
        height: 220px;
    }

    .about-us-panel .panel-space:nth-child(odd) .row {
        flex-direction: column-reverse;
    }
}